@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rajdhani&display=swap');

body {
  background-color: #1F2937;
}

/* header section start*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 96px;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header h3 {
  color: #F9FAF8;
  font-size: 24px;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  border: 1px solid #F9FAF8;
  padding: 8px 16px;
  border-radius: 5px;
}

/* header section end*/

/* main section start*/
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 32px 96px;
}

.main-info {
  flex-basis: 40%;
  padding-right: 16px;
}

.main-info .title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
}

.main-info p {
  font-size: 26px;
  color: #E5E7EB;
  margin-bottom: 48px;
}

.main-info a {
  color: #E5E7EB;
  background-color: #3882F6;
  padding: 8px 28px;
  border: 0;
  border-radius: 5px;
  font-size: 28px;
}

.main-picture {
  flex-basis: 50%;
}

.main-picture img {
  width: 100%;
  height: auto;
}

/* main section end*/

/* random-info section start*/
.random-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 96px;
  background-color: #fff;
}

.random-info .title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  margin: 0 0 32px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container .card {
  flex-basis: 20%;
  margin-right: 32px;
}

.card-container .card img {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.card-container .card p {
  width: 100%;
  text-align: left;
  color: #1F2937;
}

/* random-info section end*/

/* quote section start*/
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 96px;
  background-color: #E5E7EB;
}

.quote p {
  max-width: 700px;
}

.quote .text {
  margin: 32px 0 4px 0;
  font-size: 36px;
  color: #1F2937;
  font-family: "Rajdhani";
}

.author {
  width: 100vw;
  display: flex;
  justify-content: end;
  margin: 4px 0 32px 0;
  font-size: 22px;
  font-family: "Rajdhani";
}
/* quote section end*/

/* sign-up section start*/
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 96px;
  background-color: #fff;
}

.sign-up-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 48px 0;
  padding: 16px 96px;
  background-color: #3882F6;
  border: 0;
  border-radius: 5px;
}

.sign-up-card a {
  border: 3px solid #E5E7EB;
  border-radius: 5px;
  background-color: #3882F6;
  padding: 8px 16px;
  color: #E5E7EB;
  font-size: 28px;
}

.description .d1 {
  color: #fff;
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 0;
}

.description .d2 {
  margin-top: 0;
  color: #E5E7EB;
}

/* sign-up section end*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  padding: 16px;
  font-family: "Rajdhani";
}